######################################################################
# Start Print and End Print
######################################################################

# Replace the slicer's custom start and end g-code scripts with
# START_PRINT and END_PRINT.

[firmware_retraction]
retract_length: 6
#   The length of filament (in mm) to retract when G10 is activated,
#   and to unretract when G11 is activated (but see
#   unretract_extra_length below). The default is 0 mm.
retract_speed: 40
#   The speed of retraction, in mm/s. The default is 20 mm/s.
unretract_extra_length: 1
#   The length (in mm) of *additional* filament to add when
#   unretracting.
unretract_speed: 10
#   The speed of unretraction, in mm/s. The default is 10 mm/s.

[gcode_macro M600]
gcode:
    {% set X = params.X|default(50)|float %}
    {% set Y = params.Y|default(0)|float %}
    {% set Z = params.Z|default(10)|float %}
    SAVE_GCODE_STATE NAME=M600_state
    PAUSE
    G91
    G1 E-.8 F2700
    G1 Z{Z}
    G90
    G1 X{X} Y{Y} F3000
    G91
    G1 E-50 F1000
    RESTORE_GCODE_STATE NAME=M600_state

[gcode_macro PAUSE]
rename_existing: BASE_PAUSE
# change this if you need more or less extrusion
variable_extrude: 1.0
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### set park positon for x and y #####
  # default is your max posion from your printer.cfg
  {% set x_park = printer.toolhead.axis_maximum.x|float - 5.0 %}
  {% set y_park = printer.toolhead.axis_maximum.y|float - 5.0 %}
  ##### calculate save lift position #####
  {% set max_z = printer.toolhead.axis_maximum.z|float %}
  {% set act_z = printer.toolhead.position.z|float %}
  {% if act_z < (max_z - 2.0) %}
      {% set z_safe = 2.0 %}
  {% else %}
      {% set z_safe = max_z - act_z %}
  {% endif %}
  ##### end of definitions #####
  SAVE_GCODE_STATE NAME=PAUSE_state
  BASE_PAUSE
  G91
  G1 E-{E} F2100
  G1 Z{z_safe} F900
  G90
  G1 X{x_park} Y{y_park} F6000
  
[gcode_macro RESUME]
rename_existing: BASE_RESUME
gcode:
  ##### read E from pause macro #####
  {% set E = printer["gcode_macro PAUSE"].extrude|float %}
  ##### end of definitions #####
  G91
  G1 E{E} F2100
  RESTORE_GCODE_STATE NAME=PAUSE_state
  BASE_RESUME
  
[gcode_macro CANCEL_PRINT]
rename_existing: BASE_CANCEL_PRINT
gcode:
  TURN_OFF_HEATERS
  G91		  #relative positioning
  # G1 E-.1 
  G10               #retract
  G1 Z10 Y50 F1000	#Z axis up 10mm, Y out 50mm
  G90		            #absolute positioning
  G28 X0 	          #home X axis
  M84               ; steppers off
  CLEAR_PAUSE
  SDCARD_RESET_FILE
  BASE_CANCEL_PRINT

[gcode_macro START_PRINT]
variable_bed_temp: 60
variable_extruder_temp: 185
gcode:
    # Start bed heating
    M140 S{bed_temp}
    # Use absolute coordinates
    G90
    # Reset the G-Code Z offset (adjust Z offset if needed)
    SET_GCODE_OFFSET Z=0.0
    # Home the printer
    G28
    # Move the nozzle near the bed
    G1 X2.1 Y20 Z5 F3000
    # Move the nozzle very close to the bed
    G1 X2.1 Y20 Z0.15 F300
    # Wait for bed to reach temperature
    M190 S{bed_temp}
    # Set and wait for nozzle to reach temperature
    M109 S{extruder_temp}
    # Reset Extruder
    G92 E0
    # Move Z Axis up
    G1 Z2.0 F3000
    # Move to start position
    G1 X2.1 Y20 Z0.28 F5000.0
    # Draw the first line
    G1 X2.1 Y200.0 Z0.28 F1500.0 E15
    # Move to side a little
    G1 X2.4 Y200.0 Z0.28 F5000.0
    # Draw the second line
    G1 X2.4 Y20 Z0.28 F1500.0 E30
    # Reset Extruder
    G92 E0
    # beeper
    M300 S1000 P500
    # Move Z Axis up
    G1 Z2.0 F3000

[gcode_macro END_PRINT]
variable_machine_depth: 235
gcode:
    # Turn off bed, extruder, and fan
    M140 S0
    M104 S0
    M106 S0
    # Relative positionning
    G91
    # Retract and raise Z
    G1 Z0.2 E-2 F2400
    # Wipe out
    G1 X5 Y5 F3000
    # Raise Z more
    G1 Z10
    # Absolute positionning
    G90
    # Present print
    G1 X0 Y{machine_depth}
    # Disable steppers
    M84
# gcode:
#   M400                          ; Clear Buffer
#   M104 S0                       ; turn off extruder
#   M140 S0                       ; turn off bed
#   G10                           ; retract
#   G91                           ; relative positioning
#   G1 E-0.03 Z1.00 X20.0 Y20.0   ; move nozzle to remove stringing
#   M106 S0                       ; turn off fan
#   G1 Z20                        ; move nozzle up 20mm
#   G90                           ; absolute positioning
#   G0 X0 Y175                    ; park nozzle at rear
#   M84                           ; steppers off
#   G4 P250                       ; dwell
#   _TIMELAPSE_NEW_FRAME
#   M300                          ; Beep

[gcode_macro Heat_Hotend]
gcode:
  SET_HEATER_TEMPERATURE HEATER=extruder TARGET=200

[gcode_macro m205]
gcode:


[gcode_macro SONG_STARWARS_IMP]
gcode:
  M300 S1046 P133
  M300 S0 P133
  M300 S1046 P133
  M300 S0 P133
  M300 S1046 P133
  M300 S0 P133
  M300 S1396 P535
  M300 S0 P133
  M300 S2093 P535
  M300 S0 P133
  M300 S0 P133
  M300 S880 P133
  M300 S0 P133
  M300 S1567 P133
  M300 S0 P133
  M300 S2793 P535
  M300 S0 P133
  M300 S1046 P401
  M300 S0 P133
  M300 S1760 P133
  M300 S0 P133
  M300 S880 P133
  M300 S0 P133
  M300 S1567 P133
  M300 S0 P133
  M300 S2793 P535
  M300 S0 P133
  M300 S1046 P401
  M300 S0 P133
  M300 S1760 P133
  M300 S0 P133
  M300 S880 P133
  M300 S0 P133
  M300 S1567 P133
  M300 S0 P133
  M300 S2793 P535
  M300 S0 P133
  M300 S1046 P401
  M300 S0 P133
  M300 S1760 P133
  M300 S0 P133
  M300 S880 P133
  M300 S0 P133
  M300 S1760 P133
  M300 S0 P133
  M300 S1567 P1071
  M300 S0 P267
  M300 S1046 P66
  M300 S0 P66
  M300 S0 P267
  M300 S1046 P66
  M300 S0 P66
  M300 S0 P66
  M300 S1046 P66
  M300 S0 P66

[gcode_macro Song_Futurama1]
gcode:
	M300 S0 P2105
	M300 S2637 P526
	M300 S2637 P263
	M300 S1760 P526
	M300 S3322 P526
	M300 S2349 P526
	M300 S2349 P263
	M300 S2959 P526
	M300 S2637 P526
	M300 S2637 P526
	M300 S2637 P526
	M300 S1760 P263
	M300 S1760 P526
	M300 S2349 P526
	M300 S2349 P526
	M300 S2637 P263
	M300 S2637 P526
	M300 S2637 P526
	M300 S2637 P526
	M300 S1760 P263
	M300 S1760 P526
	M300 S2349 P526
	M300 S2349 P526
	M300 S3135 P263
	M300 S3135 P263
	M300 S2959 P263
	M300 S2637 P526
	M300 S2637 P263
	M300 S1760 P526
	M300 S3322 P526
	M300 S2349 P526
	M300 S2349 P263
	M300 S2959 P526
	M300 S2637 P526
	M300 S2637 P526
	M300 S2637 P263
	M300 S1760 P526
	M300 S3322 P526
	M300 S1975 P526
	M300 S1975 P263
	M300 S3135 P263
	M300 S3135 P263
	M300 S2959 P263
	M300 S2959 P263
  
[gcode_macro M300]
gcode:  
  {% set S = params.S|default(1000)|int %} ; S sets the tone frequency
  {% set P = params.P|default(100)|int %} ; P sets the tone duration
  {% set L = 0.5 %} ; L varies the PWM on time, close to 0 or 1 the tone gets a bit quieter. 0.5 is a symmetric waveform
  {% if S <= 0 %} ; dont divide through zero
  {% set F = 1 %}
  {% set L = 0 %}
  {% elif S >= 10000 %} ;max frequency set to 10kHz
  {% set F = 0 %}
  {% else %}
  {% set F = 1/S %} ;convert frequency to seconds 
  {% endif %}
  SET_PIN PIN=BEEPER_Pin VALUE={L} CYCLE_TIME={F} ;Play tone
  G4 P{P} ;tone duration
  SET_PIN PIN=BEEPER_Pin VALUE=0